---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">Napisal/a <span class="bold">{{ page.author }}</span>, 
                  <span>{% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d"}}
                {% case m %}
                  {% when '1' %}Januar
                  {% when '2' %}Februar
                  {% when '3' %}Marec
                  {% when '4' %}April
                  {% when '5' %}Maj
                  {% when '6' %}Junij
                  {% when '7' %}Julij
                  {% when '8' %}Avgust
                  {% when '9' %}September
                  {% when '10' %}Oktober
                  {% when '11' %}November
                  {% when '12' %}December
                {% endcase %}
                {{ page.date | date: "%Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Nazaj na blog</a>
</p>
